{% extends "base.jinja" %}

{% block content %}
    <h3>About Song Samples</h3>
    <p>
        This website is a proof of concept, scalable full stack app. Built in the Flask Framework using a combination of Python & Jinja for the backend and ElephantSQL to host a database. The front end was built using Bootstrap HTML.
        <br>
        This site allows you to currate your own song sample playlist and share it with your friends as well as search through other user currated lists.
    </p>
{% endblock  %}
