{% extends "base.jinja" %}

{% block content %}
    <h3>About Song Samples</h3>
    <p>
        This site allows you to currate your own song sample playlist and share it with your friends as well as search through other user currated lists.
        <br>
        Built for scalability in the Flask Framework using a combination of Python & Jinja for the backend and ElephantSQL to host a database. 
        <br>
        The front end was built using Bootstrap HTML and a bit of CSS styling on the fragmented portion of the project.
        <br>
        The music playing fragment uses CRUD operations to access the Spotify API using token requests to fetch and play a snippet of some songs.
        <br>
        The fragment is also hosted through Render, making it possible for 3rd parties to perform fetch requests on the API when accessing the GitHub hosted URL.
    </p>
{% endblock  %}
